<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<app-create></app-create>
<div style="height: 300px; overflow: scroll"><!-- Begin -->
  <h3>All the Authors</h3>
  <table *ngFor="let idx of allAuthors | keyvalue" class="table"><!--Table for all Cakes-->
    <br>
    <tr>
      <td>
        <br>
        <b>{{idx.value['name']}}</b>
        {{idx.key}}
        <button (click)="getOneAuthorFromService(idx.key)">Quotes</button>|||
        <button (click)="deleteAuthorFromService(idx.key)">DELETE</button>         
      </td>
    </tr>
    <br>
  </table><!--Table for all Cakes-->
</div><!-- End -->
<button (click)="allAuthorsFromService()" >Show Authors</button>
<div *ngIf="Author"><!-- Begin -->
  <table  class="table"><!-- one Author -->
    <tr *ngFor="let idx of Author.quotes | keyvalue" style="height: 300px; overflow: scroll">
      <td>
          Rating: {{idx.value.vote}}
      </td>
      <td>
        Comment: {{idx.value.content}}
      </td>
      <td>        
        <!-- VOTE MODIFIER -->
        <app-modify [Author]="Author" [voteToMod]="idx"></app-modify>
        <!-- VOTE MODIFIER -->
      </td>
    </tr>
    <tr>
      <th>
        Add to {{Author.name}}'s quotes
        <br>
      </th>
    </tr>
    <tr>
      <td>
        <form (submit)="postQuoteToService(Author._id)"><!--POST A Quote-->
          <input type="text" name="newQuote.content" 
          placeholder="newQuote"
          required
          minlength="3"
          maxlength="20"
          [(ngModel)]="newQuote.content" 
          #content = "ngModel"
          >
          <span *ngIf="!content.pristine && content.errors" class="d-inline-block text-danger">Content Error</span>
          <br>
          <input type="submit" value="Add Quote">
        </form><!--POST A Quote-->
      </td>
    </tr>
  </table><!-- one Author -->
</div><!-- End -->
