<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div><!-- Begin -->
    <form (submit)="postAuthorToService()"><!--form post cake -->
    <!-- use the json pipe to see how newAuthor changes in real time -->
    <p> {{ newAuthor | json }} </p>
    <input type="text" name="newAuthor.name" [(ngModel)]="newAuthor.name" placeholder="Author's Name">
    <br>
    <input type="submit" value="Create Author">
    </form><!--form post cake -->
</div><!-- End -->
