<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div><!-- Begin -->
    <!-- use the json pipe to see how newAuthor changes in real time -->
    <!-- <p> {{ newAuthor | json }} </p> -->
    <form (submit)="postAuthorToService()" name="authorForm"><!--form Create Author -->
        <input type="text" name="newAuthor.name" 
        placeholder="Author's Name"
        required
        minlength="3"
        maxlength="20"
        [(ngModel)]="newAuthor.name" 
        #name = "ngModel"
        >
        <span *ngIf="!name.pristine && name.errors" class="d-inline-block text-danger">Name Error</span>
        <br>
        <input type="submit" value="Create Author">
    </form><!--form Create Author -->
</div><!-- End -->
